<h1>About us</h1>
<p>We are working on our One Month Rails Pinteresting app!</p>
<p>I have created several websites using WordPress but this is the first time I have taken a course in computer programming.</p>
<p>I am hoping that, by the end of this course, I will be proficient in creating web apps with Ruby on Rails.  We shall see!</p>
<p>Update ... I have completed the course, am not yet proficient, but getting there!</p>
<div class="jumbotron">
	<h1>Want to get in touch?</h1>
	<p><%= link_to "Contact Us", "#", class: "btn-primary btn-default" %></p>
</div>