<h1>Pintastic</h1>
<p>This page will highlight the best pins on Pinteresting.</p>
<p>Submit your pin to be highlighted among the Pintastic.</p>
<p>We will select the best and post them on this page.</p>

<div class="jumbotron">
	<h1>Think you have a great pin?</h1>
	<p><%= link_to "Submit Your Pin", "#", class: "btn-primary btn-default" %></p>
</div>